<div class="mainapp container">
    <h3>VoteCounter</h3>
    <h3>{{voters}} connected voters</h3>
    <h2 ng-show='!(yourvote != false)'>You haven't voted</h2>
    <h3 ng-show='yourvote != false'>You voted {{yourvote}}</h3>
    <h2>{{timeleft}} seconds left</h2>
    <div class="span8 center">
        <div ng-show="timeleft > 0">
            <div ng-repeat='candidate in candidates' class="row">
                <div class="span5">
                    <button
                        ng-class="candidate.btn"
                        ng-disabled="yourvote == candidate.name"
                        class="btn btn-block btn-large"
                        ng-click="vote(candidate.name)">{{candidate.name}}</button>
                </div>
                <div class="span3">
                    <h3><ng-pluralize count="candidate.votes"
                    when="{
                        '0':        'No votes',
                        'one':      '1 vote',
                        'other':    '{} votes'
                        }"></ng-pluralize></h3>
                </div>
            </div>
        </div>
    </div>
</div>
