<div class="mainapp container">
    <h3>VoteCounter</h3>
    <h3>{{voters}} connected voters</h3>
    <h2 ng-hide='yourvote'>You haven't voted</h2>
    <h3 ng-show='yourvote'>You voted {{yourvote}}</h3>
    <h2>{{timeleft}} seconds left</h2>
    <div class="span6 center">
        <div ng-show="timeleft > 0">
            <div ng-repeat='candidate in candidates' class="row">
                <div class="span4">
                    <button ng-disabled="yourvote == '{{candidate.name}}'"
                        class="btn btn-block btn-large {{candidate.btn}}"
                        ng-click="vote(candidate.name)">{{candidate.name}}</button>
                </div>
                <div class="span2"><h3>{{candidate.votes}} votes</h3></div>
            </div>
        </div>
    </div>
</div>
