<div class="mainapp container">
    <h3>VoteCounter</h3>
    <p>Simple vote counter</p>
    <p>{{votes}} total votes</p>
    <p>Your vote is {{yourvote}}</p>
    <div class="span6 center">
        <h1>{{count.up}}</h1>
        <button class="btn btn-block btn-large btn-success" ng-click="vote(1)">UP</button>
        <h1>{{count.neutral}}</h1>
        <button class="btn btn-block btn-large btn-warning" ng-click="vote(0)">NEUTRAL</button>
        <h1>{{count.down}}</h1>
        <button class="btn btn-block btn-large btn-danger" ng-click="vote(-1)">DOWN</button>
    </div>
</div>
